<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4 my-auto">
                <h5 class="mb-3">Follow Me</h5>
                <div class="d-flex justify-content-center" style="margin-bottom: 14px;">
                    <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/matheusyt__/" role="button" target="_blank">
                    <i class="fab fa-instagram"></i>
                    </a>
                    <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/matheudev/" role="button" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/matheudev" role="button" target="_blank">
                    <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-4 my-auto">
                <ul class="list-unstyled">
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'anime_search' %}">Anime Search</a></li>
                <li><a href="{% url 'topanime' %}">Top Anime</a></li>
                <li><a href="{% url 'season' %}">Seasonal Anime</a></li>
                </ul>
            </div>
            <div class="col-md-4 my-auto">
                <h5 class="mb-3">Contact</h5>
                <p>Email: contact.anihub@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="text-center p-3 copyright-footer">
        © 2023 Copyright: <a href="https://www.anihub.net/">AniHub.net</a>
    </div>
</footer>