<header id="realnavbar">
    <div class="bx bx-menu menuleft" id="menu-icon"></div>
    <div class="bx bx-search search" id="menu-icon"></div>
    <div class="logoh" id="logolarge">
    <a href="/" class="logo"><span><span style="color: #6e93f7">Ani</span>Hub</span></a>
    </div>

    {% with request.resolver_match.url_name as url_name %}
    <ul class="ultrabar {% if user.is_authenticated %}baruseron {% else %}baruseroff{% endif %}">
        <div class="navbar">
            <li><a href="/" class="{% if url_name == 'index' %}active{% endif %}">Home</a></li>
            <li class="dropdown-navbar">
                <a href="#" class="dropdown-toggle {% if url_name == 'topanime' or url_name == 'anime_search' or url_name == 'season' or url_name == 'detail'%}active{% endif %}">Anime</a>
                <div class="dropdown-content">
                <a href="{% url 'anime_search' %}">Anime Search</a>
                <a href="{% url 'topanime' %}">Top Anime</a>
                <a href="{% url 'season' %}">Seasonal Anime</a>
                </div>
            </li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'animelist' %}" id="animelistnav" class="{% if url_name == 'animelist' %}active{% endif %}">Anime List</a></li>
            {% endif %}    
        </div>
        <div class="logoh" id="logosmall">
            <a href="/" class="logo"><span><span style="color: #6e93f7">Ani</span>Hub</span></a>
        </div>
        <div class="search-form searchnav" id="search-form">
            <form id="search-form" method="get" action="{% url 'search' %}">
              <div class="search-box">
                <div class="search-input-wrapper">
                    <input type="text" name="query" class="search-text dark-mode" placeholder="Search anime" autocomplete="off">
                </div>
                <button type="submit" class="search-btn">
                  <i class="ri-search-line"></i>
                </button>
              </div>
            </form>
        </div>   
    </ul>

    <div class="main">
        <button id="theme-toggle">
            <i class="ri-sun-fill"></i>
        </button>
        {% if user.is_authenticated %}
        <a href="{% url 'profile' %}" class="{% if url_name == 'profile' %}active-link{% endif %} profile">Profile</a>
        <a href="{% url 'importlist' %}" class="{% if url_name == 'importlist' %}active-link{% endif %} importlist">Import List</a>
        <a href="{% url 'logout' %}" class="{% if url_name == 'logout' %}active-link{% endif %} logout">Logout<i class="ri-logout-box-line"></i></a>
        {% else %}
        <a href="{% url 'login' %}" class="{% if url_name == 'login' %}active-link{% endif %} user"><i class="ri-user-fill"></i>Sign In</a>
        <a href="{% url 'register' %}" class="{% if url_name == 'register' %}active-link{% endif %}">Register</a>
        {% endif %}
    </div>
    <div class="bx bx-user menuright" id="menu-icon"></div>
    {% endwith %}
</header>



