{% extends "layout.html" %}
{% load year_range %}
{% load integer_filters %}
{% block title %} Anime Search {% endblock title%}

{% block content %}

  <div class="container">
    <form class="mb-3 filter-form" id="filter-form">
      {% csrf_token %}
      <div id="form-row" class="form-row">
        <!-- Query field -->
        <div class="search-container search-form">
          <label for="search_query">Search:</label>
          <div class="select-btn">
            <input type="text" autocomplete="off" name="search_query" id="search_query" class="search-text dark-mode" placeholder="Search anime" value="{{ search_query }}">
          </div>
        </div>

        <!-- Genres field -->
        <div class="form-group form-group-s filter-form-group">
            <label for="genres">Genres:</label>
            <div class="select-btn">
              <span class="btn-text">Select Genres</span>
              <span class="arrow-dwn">
                  <i class="fa-solid fa-chevron-down"></i>
              </span>
            </div>
            <ul class="list-items">
              {% for genre in genres %}
                <li class="item dropdown-item">
                    <input type="checkbox" name="genres" value="{{ genre.mal_id }}" id="genre_{{ genre.mal_id }}" data-genre-name="{{ genre.name }}" {% if genre.mal_id|stringformat:"s" in selected_genres %}checked{% endif %}>
                    <span class="checkbox">
                        <i class="fa-solid fa-check check-icon"></i>
                    </span>
                    <span class="item-text">{{ genre.name }}</span>
                </li>
              {% endfor %}
              
            </ul>
        </div>

        <!-- Type field -->
        <div class="form-group form-group-s filter-form-group">
          <label for="type">Type:</label>
          <div class="select-btn">
            <span class="btn-text">Select Type</span>
            <span class="arrow-dwn">
                <i class="fa-solid fa-chevron-down"></i>
            </span>
          </div>
          <ul class="list-items">
              {% for type in types %}
                  <li class="item dropdown-item">
                      <input type="checkbox" name="type" value="{{ type }}" id="type_{{ type }}" {% if type in selected_types %}checked{% endif %}>
                      <span class="checkbox">
                          <i class="fa-solid fa-check check-icon"></i>
                      </span>
                      <span class="item-text">{{ type }}</span>
                  </li>
              {% endfor %}
          </ul>
        </div>

        <!-- Airing status field -->
        <div class="form-group form-group-s filter-form-group">
          <label for="airing_status">Airing Status:</label>
          <div class="select-btn">
            <span class="btn-text">Select Airing Status</span>
            <span class="arrow-dwn">
                <i class="fa-solid fa-chevron-down"></i>
            </span>
          </div>
          <ul class="list-items">
              {% for status in airing_status %}
                  <li class="item dropdown-item">
                      <input type="checkbox" name="airing_status" value="{{ status }}" id="status_{{ status }}" {% if status == selected_airing_status %}checked{% endif %}>
                      <span class="checkbox">
                          <i class="fa-solid fa-check check-icon"></i>
                      </span>
                      <span class="item-text">{{ status }}</span>
                  </li>
              {% endfor %}
          </ul>
        </div>
        <button type="submit" class="btn btn-primary asbtn">Filter</button>
      </div>
    </form>

    <div class="searchCardGrid">
      <div class="l-cards">
          {% for anime in data %}
          <article class="c-card">
              <div class="card-flyer">
                  <div class="c-card__image">
                      <a href="{% url 'detail' anime_id=anime.mal_id %}">
                      <img
                          src="{{ anime.images.jpg.image_url }}"
                          alt="{{ anime.title }}">
                      </a>
                  </div>
              </div>
              <div class="c-card-text">
                  <h5>{{ anime.title }}</h5>
              </div>
          </article>
          {% endfor %}
      </div>
    </div>

    <nav aria-label="Page navigation" class="dark-mode">
      <ul class="pagination dark-mode">
        <li class="page-item {% if current_page == 1 %}disabled{% endif %}">
          {% if current_page == 1 %}
          <span class="page-link" aria-label="Previous">
          {% else %}
          <a class="page-link" href="{% url 'anime_search' %}?{% if current_page|add:"-1" != 1 %}page={{ current_page|add:"-1" }}&{% endif %}{{ params.genres }}{{ params.season }}{{ params.type }}{{ params.status }}" aria-label="Previous">
          {% endif %}
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          {% if current_page != 1 %}</a>{% else %}</span>{% endif %}
        </li>
        {% if current_page >= 2 %}
        <li class="page-item">
          <a class="page-link" href="{% url 'anime_search' %}?{% if current_page|add:"-1" != 1 %}page={{ current_page|add:"-1" }}&{% endif %}{{ params.genres }}{{ params.season }}{{ params.type }}{{ params.status }}">{{ current_page|add:"-1" }}</a>
        </li>
        {% endif %}
        <li class="page-item active"> 
        <span class="page-link">{{ current_page }}</span>
        </li>
        {% if has_next_page %}
        <li class="page-item">
          <a class="page-link" href="{% url 'anime_search' %}?page={{ current_page|add:"1" }}&{{ params.genres }}{{ params.season }}{{ params.type }}{{ params.status }}">{{ current_page|add:"1" }}</a>
        </li>
        {% endif %}
        <li class="page-item {% if not has_next_page %}disabled{% endif %}">
        <a class="page-link" href="{% url 'anime_search' %}?page={{ current_page|add:"1" }}&{{ params.genres }}{{ params.season }}{{ params.type }}{{ params.status }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
        </a>
        </li>
      </ul>
    </nav>
    
  </div>
{% endblock %}
